@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'DM Sans';
		src: local('DM Sans'),
			url('/fonts/dm-sans/DMSans-Regular.woff') format('woff');
	},
  @font-face {
		font-family: 'DM Sans';
		src: local('DM Sans'),
			url('/fonts/dm-sans/DMSans-Medium.woff') format('woff');
	},
  @font-face {
		font-family: 'DM Sans';
		src: local('DM Sans'),
			url('/fonts/dm-sans/DMSans-Bold.woff') format('woff');
	},
  @font-face {
		font-family: 'DM Sans';
		src: local('DM Sans'),
			url('/fonts/dm-sans/DMSans-Italic.woff') format('woff');
	}
}
