@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'DM Sans';
		src: local('DM Sans'),
			url('/fonts/dm-sans/DMSans-Regular.woff') format('woff');
	},
  @font-face {
		font-family: 'DM Sans';
		src: local('DM Sans'),
			url('/fonts/dm-sans/DMSans-Medium.woff') format('woff');
	},
  @font-face {
		font-family: 'DM Sans';
		src: local('DM Sans'),
			url('/fonts/dm-sans/DMSans-Bold.woff') format('woff');
	},
  @font-face {
		font-family: 'DM Sans';
		src: local('DM Sans'),
			url('/fonts/dm-sans/DMSans-Italic.woff') format('woff');
	}
}

.ficon:hover {
  filter: invert(80%) sepia(37%) saturate(7100%) hue-rotate(132deg) brightness(105%) contrast(104%)
}
